body {
    padding: 0px;
    margin: 0px;

    #header {
        background-color: rgba(255,255,255,.7);
        height: 60px;
        position: relative;
        z-index: 3;

        h1 {
            font-family: "Archivo Black", serif;
            padding-left: 20px;
            font-size: 20px;
            float: left;
            position: relative;
            top: 3px;
        }

        #header-logo {
            height: 90px;
            margin-top: -18px;
            margin-left: 20px;
        }

        #link-block {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -2px;
            margin-left: 20px;

            a {
                font-family: "Inter", serif;
                margin-right: 30px;
                color: #03114A;
                font-weight: 700;
            }
        }
    }
    //end of header

    #hero-header {
        background-image: linear-gradient(90deg, rgba(3,17,74,0.9471988624551383) 0%, rgba(0,212,255,0) 43%), url(images/office.jpg);
        //background: url(images/office.jpg) no-repeat center center;
        height: 100vh;
        padding: 0px;
        margin-left: 0px;
        margin-top: -60px;
        background-size: cover;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
    //end of hero header

    #hero-content {
        display: flex;
        width: 100%;
        height: 100vh;
        margin-top: -100vh;
        z-index: 5;

        #left-content {
            flex: 50%;

            #left-wrapper {
                position: relative;

                #top {

                    img {
                        height: 200px;
                        position: absolute;
                        left: 10px;
                        top: 50px;
                    }
                }
            }
        }

        #right-content {
            flex: 50%;
            position: relative;

            #aaronhs {
                position: absolute;
                right: 80px;
                bottom: 50px;
                height: 80%;
            }
        }
    }
    //end of hero content

    #hero-body-split {
    }
}
