body {
    padding: 0px;
    margin: 0px;

    #header {
        background-color: rgba(255,255,255,.5);
        height: 60px;
        position: relative;

        h1 {
            font-family: "Archivo Black", serif;
            padding-left: 20px;
            font-size: 20px;
            float: left;
        }

        #link-block {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -5px;
            margin-left: 50px;

            a {
                font-family: "Inter", serif;
                margin-right: 30px;
            }
        }
    }
    //end of header

    #hero-header {
        background: url(images/office.jpg) no-repeat center center;
        height: 100vh;
        margin-top: -60px;
        background-size: cover;

        #hero-content {
            display: flex;
            width: 100%;
            height: 100vh;

            #left-content {
                flex: 50%;
            }

            #right-content {
                flex: 50%;
                position: relative;

                #aaronhs {
                    position: absolute;
                    right: 80px;
                    bottom: 50px;
                    height: 80%;
                }
            }
        }
    }
}
